.bookings-container {
  min-height: 100vh;
  margin-left: 2rem;
  margin-right: 2rem;
}

.bookings-container header {
  text-align: center;
  margin: 1rem;
}

.no-bookings-message {
  text-align: center;
  padding-top: 3rem;
  font-size: 1.5rem;
}

.bookings-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

.booking-item {
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  padding: 10px;
  padding-left: 2rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 70%;
  border-radius: 0.6rem;
}
.booking-item:hover {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}
.booking-label {
  justify-self: middle;
  padding: 8px;
  color: rgb(233, 100, 121);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.booking-addr-label {
  color: rgb(233, 100, 121);
}
.booking-fc-label {
  color: green;
}
.show-more-button {
  color: white;
  background-color: #ff5757;
  border: none;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.show-more-button:hover {
  background-color: #aa0000;
}

@media (max-width: 881px) {
  .bookings-grid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }
  .booking-item {
    width: 100%;
    margin-bottom: 0;
    padding: none;
    padding-left: 2rem;
  }
  .bookings-container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.view-more-link {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ff5757;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-more-link:hover {
  background-color: #db0404;
}
