.cl-search-container header {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #ffa7a7;
}

.cl-search-container h1 {
  color: white;
}

.cl-search-container {
  height: 50rem;
}

.cl-lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.cl-lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: green;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.cl-lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: cl-lds-ellipsis1 0.6s infinite;
}
.cl-lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: cl-lds-ellipsis2 0.6s infinite;
}
.cl-lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: cl-lds-ellipsis2 0.6s infinite;
}
.cl-lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: cl-lds-ellipsis3 0.6s infinite;
}
@keyframes cl-lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes cl-lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes cl-lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
