.client-page-search {
  width: 70%;
  margin: 2rem auto 2rem auto;
}

.cl-search {
  width: 60%;
  margin-top: 1.5rem;
  height: 2.5rem;
  border: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  border-radius: 0.4rem;
  background-color: #f5f5f5;
}
.client-search-space {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.client-search-checkIn {
  display: flex;
  flex-direction: column;
}
.date-field,
.time-field {
  height: 2rem;
  width: 9rem;
  font-size: 15px;
  background-color: #f5f5f5;
}
.time-field {
  padding: 8.5px;
}
.table-header {
  margin: 1.5rem 0;
  font-weight: bold;
}

.client-search-button {
  margin: 1.5rem 0;
  width: 5rem;
  height: 2rem;
  background: #ff5757;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.48);
  cursor: pointer;
  &:hover {
    transform: scale(0.96);
  }
}

.date_icon,
.time_icon {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.time_icon {
  margin-top: 5px;
}

.icon-style {
  padding-top: 3px;
}
.client-header {
  width: 70%;
  margin: 3rem auto;
  font-size: 25px;
}
.min-parking-errormsg {
  font-size: 1.2rem;
  color: #ff5757;
  margin-bottom: 1rem;
}

.cl-views-header {
  display: flex;
  justify-content: left;
  padding: 10px;
  background-color: #140e0e; /* Set your desired background color */
}

.cl-views-header h1 {
  margin: 0;
}

.clview-navbar {
  background-color: #ffa7a7;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}

.clview-navbar h2 {
  margin: 0 0;
}

.clview-nav-item {
  margin: 0 2rem;
  text-align: center;
}

.clview-nav-item:hover {
  background-color: lightgrey;
}

@media (max-width: 1000px) {
  .client-search-space {
    gap: 2rem;
  }
}

@media (max-width: 550px) {
  .client-search-space {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .clview-navbar h2 {
    display: none;
  }
}
