.myactivity-container {
  min-height: 100vh;
  margin-left: 2rem;
  margin-right: 2rem;
 }
 
 
 .myactivity-container header {
  text-align: center;
  margin: 1rem;
 }
 
 
 .payment-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
 }
 
 
 .payment-list-item {
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  padding: 10px;
  padding-left: 2rem;
  margin: 0 auto;
  width: 70%;
 }
 .payment-label {
  justify-self: middle;
  padding: 8px;
  color: rgb(233, 100, 121);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.7px
 }
 @media (max-width: 881px) {
  .payment-list {
    grid-template-columns: repeat(1, 1fr);
    margin: 0.5rem;
  }
  .payment-list-item {
    width: 90%;
    padding: none;
    padding-left: 2rem;
  }
  .myactivity-container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
 }
 