.myactivity-container {
    min-height: 100vh;
}

.myactivity-container header {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.payment-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin: 2rem;
}

.payment-list-item {
  border: 1px solid #ddd;
  padding: 10px;
  padding-left: 2rem;
  margin: 0 auto;
  width: 70%;
}

@media (max-width: 881px) {
  .payment-list {
    grid-template-columns: repeat(1, 1fr);
    margin: 0.5rem;
  }
  .payment-list-item {
    width: 90%;
    padding: none;
    padding-left: 2rem;
  }
  .myactivity-container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
