.myactivity-container {
    min-height: 100vh;
}

.myactivity-container header {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.payment-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin: 2rem;
}

.payment-list-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 70%;
}
