.parking-spot-details-header {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .details-page-header {
    font-size: x-large;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }
  .details-page-description {
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-size: medium;
  }
}

.parking-spot-details-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 4rem auto 4rem auto;
  .details-container {
    padding: 1.5rem;
    border: 1px solid hsl(0, 0%, 95%);
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: hsl(0, 0%, 95%);

    .details-price-address {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      .details-address {
        .first-address {
          color: hsl(0, 100%, 67%);
          font-size: large;
          font-weight: 600;
        }
        .second-address {
          margin-top: 0.2rem;
        }
      }
      .details-price {
        color: hsl(0, 0%, 100%);
        border: 1px solid hsl(0, 100%, 67%);
        background-color: hsl(0, 100%, 67%);
        border-radius: 0.5rem;
        padding: 0.5rem;
        font-size: large;
        font-weight: 600;
      }
    }
    .details-second-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
      margin-top: 2rem;
      .details-single {
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        border: 1px solid hsl(0, 0%, 100%);
        border-radius: 0.5rem;
        background-color: hsl(0, 0%, 100%);

        .details-label {
          color: hsl(0, 100%, 67%);
          text-transform: uppercase;
          font-size: x-small;
          font-weight: 700;
        }
      }
    }
    .details-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;
      gap: 1rem;
      .details-single-button {
        color: white;
        border: 1px solid hsl(0, 100%, 67%);
        border-radius: 5px;
        background-color: hsl(0, 100%, 67%);
        padding: 0.5rem 1rem;
        cursor: pointer;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
  .details-map {
    width: 100%;

    justify-self: start;
    position: relative;
    padding: 1rem;
    border: 1px solid hsl(0, 0%, 95%);
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: hsl(0, 0%, 95%);
    .view-on-googleMap {
      display: flex;
      gap: 4px;
      position: absolute;
      align-items: center;
      background-color: white;
      border-radius: 0 8px 0 0;
      width: 10rem;
      padding: 0.4rem 0.5rem;
      color: hsl(0, 100%, 67%);
      bottom: 0;
      margin-left: 3rem;
      margin-bottom: 1rem;
      &:hover {
        background-color: hsl(0, 100%, 67%);
        color: white;
        .google-maps-button {
          background-color: hsl(0, 100%, 67%);
          color: white;
        }
      }
      .google-maps-button {
        background-color: white;
        border: none;
        color: hsl(0, 100%, 67%);
        cursor: pointer;
      }
    }
  }
}
@media (max-width: 963px) {
  .parking-spot-details-page {
    grid-template-columns: 1fr;
    margin: 2rem auto 2rem auto;
    .details-container {
      border-radius: 0 0 0.5rem 0.5rem;
    }

    .details-map {
      grid-row: 1/2;
      border-radius: 0.5rem 0.5rem 0 0;
      .ps-mapview {
        .google-map-containerMap {
          margin-right: 3rem;
        }
      }
    }
  }
}
@media (max-width: 588px) {
  .details-container {
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .details-map {
    .ps-mapview {
      display: none;
    }
    .view-on-googleMap {
      height: 1.3rem;
      top: 0;
      right: 0;
    }
  }
}
