@media (max-width: 963px) {
  .parking-spot-details-page {
    grid-template-columns: 1fr;
    margin: 1rem auto;
    .details-container {
      border-radius: 0 0 0.5rem 0.5rem;
    }

    .details-map {
      grid-row: 1/2;
      border-radius: 0.5rem 0.5rem 0 0;
      .ps-mapview {
        .google-map-containerMap {
          margin-right: 3rem;
        }
      }
    }
  }
}
@media (max-width: 588px) {
  .details-container {
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .details-map {
    .ps-mapview {
      display: none;
    }
    .view-on-googleMap {
      height: 1.3rem;
      top: 0;
      right: 0;
    }
  }
}
