body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.hero {
  /* background-image: url("smilingadult.jpeg"); */
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  text-align: center;
  color: #fff;
  position: relative;
}

.slogan h1 {
  font-size: 36px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}

.search-bar {
  margin: 20px 0;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.search-bar button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.date-picker button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

.app-description {
  padding: 40px 0;
  text-align: center;
}

.app-description h2 {
  font-size: 28px;
  color: #333;
}

.app-description p {
  font-size: 16px;
  color: #555;
}

.marketing-image {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.about-us-links {
  display: flex;
  justify-content: center;
}

.about-us-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

.about-us-links a:hover {
  text-decoration: underline;
}
