.main_container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 20px;
}

.hero {
  background-size: cover;
  background-position: center;
  padding: 70px 0;
  text-align: center;
  color: #fff;
  position: relative;
}

.search-bar {
  margin: 20px 0;
}

.app-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3rem;
  padding: 2rem;
}

@media (max-width: 768px) {
  .app-description {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .marketing-image {
    width: 100%;
    height: auto;
  }
}

.pic-text {
  align-self: center;
}

.pic-text p {
  margin-bottom: 3rem;
}

.pic-text h2 {
  margin-bottom: 2rem;
}

.app-description h2,
.landing-intro h2 {
  font-size: 25px;
  color: #333;
}

.app-description p {
  font-size: 16px;
  color: #555;
}
