/* Home.css */

.home-container {
  text-align: center;
  padding: 20px;
}

.loading-container {
  text-align: center;
  padding: 20px;
}

.error-container {
  text-align: center;
  padding: 20px;
  color: red;
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  color: #007bff;
  margin: 10px 0;
}

.sign-out-button {
  background-color: #ff5757;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.sign-out-button:hover {
  background-color: #c84a4a;
  transform: scale(1.1);
}
