.resrundown-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  height: max-content;
}
.resrundown-times {
  display: flex;
  gap: 5px;
}
.change-time-link {
  margin-top: 1rem;
  padding: 8px;
  width: 6.5rem;
  height: 2rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #fff;
  border: 1px solid #ff5757;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #ff5757;
  cursor: pointer;
  &:hover {
    transform: scale(0.96);
    background-color: #ff5757;
    color: white;
  }
}
.chtime-page-search {
  width: 33rem;
  height: max-content;
  padding: 1rem;
  margin-top: 1rem;
}

.chtime-search-space {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.chtime-search-checkIn,
.chtime-search-checkout {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.date-field,
.time-field {
  padding-left: 8.5px;
  height: 2rem;
  /* width: 9rem; */
  font-size: 15px;
  background-color: #f5f5f5;
}

.table-header {
  margin: 1.5rem 0;
  font-weight: bold;
}

.chtime-search-button {
  margin-top: 1.5rem;
  width: 5rem;
  height: 2rem;
  background: #ff5757;
  color: white;
  font-size: small;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.48);
  cursor: pointer;
}

.chtime-search-button:hover {
  transform: scale(0.96);
}

.date_icon,
.time_icon {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.icon-style {
  padding-top: 3px;
}
.chtime-header {
  width: 70%;
  margin: 3rem auto;
  font-size: 25px;
}
.min-parking-errormsg {
  font-size: 1.2rem;
  color: #ff5757;
  margin-bottom: 1rem;
}

.cl-views-header {
  display: flex;
  justify-content: left;
  padding: 10px;
  background-color: #f0f0f0;
}

.cl-h-svgleft {
  margin-right: 10px;
}

.cl-views-header h1 {
  margin: 0;
}

.clview-nav-item {
  margin-right: 20px;
}

.clview-nav-item a {
  color: white;
  text-decoration: none;
}

.clview-nav-item a:hover {
  text-decoration: underline;
}

.change-time-reset {
  display: inline-block;
  margin-left: 2rem;
}

@media (max-width: 1000px) {
  .chtime-search-space {
    width: 80%;
    gap: 0.5px;
  }

  .icon-style {
    padding: 2px;
    height: 1.2rem;
  }
}

@media (max-width: 550px) {
  .chtime-search-space {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .chtime-page-search {
    margin-top: 0;
  }
}
