.checkout-layout-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 2rem;
}

.checkout-layout-container .ch1-gvjnv {
  padding: 1rem;
}

.checkout-layout-container .ch2-gvjnv {
  border-top: 1px solid lightgray;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  .checkout-mapView {
    width: 30%;
  }
}

.checkout-addToCart {
  width: 33rem;
}
.reservePlusSummary {
  width: 31rem;
}
.change-time-link {
  text-decoration: none;
}

.lus-chk-navigate {
  margin-top: 10px;
  margin-left: 10px;
  .go-back-link {
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 0.3rem;
    background-color: rgb(233, 100, 121);
    color: white;
    cursor: pointer;
    margin: 1rem 0rem;
    &:hover {
      transform: scale(0.96);
    }
  }
}

@media (max-width: 1000px) {
  .checkout-layout-container {
    font-size: large;
    width: 100%;
    .userinfo-card,
    .reservePlusSummary,
    .ss-info-container,
    .checkout-addToCart {
      width: 100%;
      margin: 1rem auto;
    }
    .account-info-header,
    .add-cart {
      font-size: large;
    }

    .ch2-gvjnv {
      .checkout-mapView {
        display: none;
      }
      .change-time-link {
        width: 8rem;
        height: 2.5rem;
        font-size: medium;
      }
      .reservation-summary-header {
        font-size: large;
      }
    }
    .res-detail-btn-g,
    .res-detail-btn-n {
      height: 2.5rem;
      font-size: medium;
    }
    .select-vehicle {
      font-size: large;
    }
    .final-add-to-cart p {
      font-size: large;
    }
  }
}
