.res-detail-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.add-cart {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.final-add-to-cart {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 1rem;
}
.select-vehicle {
  border: 1px solid lightgray;
  margin-top: 1rem;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
.res-detail-container form {
  display: flex;
  flex-direction: column;
}

.res-detail-container label {
  margin-bottom: 5px;
}

.res-detail-container .checkout-options {
  margin-top: 1rem;
  color: #ff5733;
  margin-bottom: 10px;
}

.res-detail-container .res-detail-btn-g {
  margin-top: 2rem;
  background-color: #f57575;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.res-detail-container .res-detail-btn-n {
  margin-top: 2rem;
  background-color: lightgray;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.res-detail-container .res-detail-btn-g:hover {
  background-color: #45a049;
}

.res-detail-container .conflict-message {
  color: #ff5733;
  margin-top: 10px;
}

.res-detail-container form p {
  font-size: large;
}
