.ss-info-container {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  width: 70%;
  height: max-content;
}
.reservation-summary-header {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 0.75rem;
  padding: 1rem;
}
.billing-type {
  margin-top: 10px;
}
.ss-card {
  padding: 0.5em;
  margin: 0.5em;
}

.ss-info-container p {
  font-size: 1em;
}

@media (max-width: 550px) {
  .ss-info-container {
    margin: 0;
    max-width: 350px;
  }
}
