.ss-card {
    background-color: lightgray;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .ss-card-header {
    display: flex;
    justify-content: space-between;
  }
  
  .ss-summary-pic img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .ss-card-footer {
    margin-top: 15px;
  }
  