.successful-purchase-container {
  max-width: 800px;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 8px;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
}
.successful-payment-container h3 {
    color:#ff5757;
    font-weight: 900;
    
}
.successful-payment-header {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
  
}
.newest-transactions {
  display:flex;
}
.sucessful-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.successful-payment-container {
  background-color: #f8f8f8;;
  border: 1rem solid #f8f8f8;
  border-radius: 1rem;

}
.success-message {
  text-align: center;
  color: #27ae60;
  margin-bottom:0;
}

.success-payment-list {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  margin-top: 0;
  display:flex;
  align-items: center;
}

.success {
  /* Add styles as needed */
  margin-top: 0;
  border: none;
  box-shadow: none;
  background-color: #f8f8f8;
}

.success-map {
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-details {
  /* border: 1px solid #ddd; */
  padding: 10px;
  margin: 10px;

  border-radius: 4px;
  /* margin-top: 3.5rem; */
}
.conf-check-in, .conf-checkout, .conf-price {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

ul.success-conf-details-list {
  list-style-type: none;
}

.success-conf-details-list {
  font-size: 1.1rem;
}

.conf-details-pymt-message {
  font-size: large;

}

.conf-details-pymt-message,
.conf-parking-location,
.conf-check-in-date-time,
.conf-check-out-date-time,
.conf-details-total-price {
  font-weight: bold;
  font-size:smaller;
  color: #ff5757;
}

.pymt-id {
  font-weight: 600;
  font-size: larger;
  text-align: center;
}

.record-message {
  margin-top: 20px;
  color: hsl(0, 100%, 46%);
  text-align: center;
  font-size: 1.1rem;
}

.no-activity {
  color: #e74c3c;
}

.link-to-home {
  text-decoration: none;
  cursor:pointer
}
.admin-link {
  display: block;

  color: white;
  background-color: hsl(0,100%,46%);
  border: 1px solid hsl(0, 100%, 46%);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-align: center;

  &:hover {
    cursor:pointer;
    transform: scale(1.05);
  }
}
.alert-body {
  color:#27ae60;
  font-weight: bold;
  font-size: larger;
}
.box {
  /* margin-top: 60px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.ps-mapview {
  flex: 1;
  position: relative;
  margin-top: 15px;
}

.success-map .ps-mapview .gm-control-active,
.success-map .ps-mapview .gm-fullscreen-control {
  display: none;
}

.alert {
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
  width: 300px;
  height: 100px;
  padding-top: 150px;
  position: relative;
  white-space: nowrap;
}

.alert::before {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 100%;
  inset: 20px 0px 0px 100px;
  font-size: 60px;
  line-height: 100px;
  border: 5px solid gray;
  animation-name: reveal;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}


.alert-body {
  opacity: 0;
  animation-name: reveal-message;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}


@keyframes reveal-message {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.success {
  color: green;
  background-color: white;
}

.success::before {
  content: "✓";
  background-color: #eff;
  box-shadow: 0px 0px 12px 7px rgba(200, 255, 150, 0.8) inset;
  border: 5px solid green;
}

.error {
  color: red;
}

.error::before {
  content: "✗";
  background-color: #fef;
  box-shadow: 0px 0px 12px 7px rgba(255, 200, 150, 0.8) inset;
  border: 5px solid red;
}

@keyframes reveal {
  0% {
    border: 5px solid transparent;
    color: transparent;
    box-shadow: 0px 0px 12px 7px rgba(255, 250, 250, 0.8) inset;
    transform: rotate(1000deg);
  }
  25% {
    border-top: 5px solid gray;
    color: transparent;
    box-shadow: 0px 0px 17px 10px rgba(255, 250, 250, 0.8) inset;
  }
  50% {
    border-right: 5px solid gray;
    border-left: 5px solid gray;
    color: transparent;
    box-shadow: 0px 0px 17px 10px rgba(200, 200, 200, 0.8) inset;
  }
  75% {
    border-bottom: 5px solid gray;
    color: gray;
    box-shadow: 0px 0px 12px 7px rgba(200, 200, 200, 0.8) inset;
  }
  100% {
    border: 5px solid gray;
    box-shadow: 0px 0px 12px 7px rgba(200, 200, 200, 0.8) inset;
  }
}

@media (max-width: 700px) {
  .success-payment-list {
    flex-direction: column;
    align-items: center;
  }
  .conf-details-pymt-message,
  .conf-location,
  .conf-check-in,
  .conf-checkout,
  .conf-price {
    font-size: 1.3  rem;
  }
}

@media (min-width: 700px) {
  .conf-details-pymt-message,
  .conf-location,
  .conf-check-in,
  .conf-checkout,
  .conf-price {
    font-size: 1.20rem;
  }

  .success-map {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  span.conf-details-pymt-message {
    margin: 2rem;
  }
}
