.successful-purchase-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.success-message {
  text-align: center;
  color: #27ae60;
}

.payment-list {
  margin-top: 0;
}

.box {
  margin-top: 0;
}

.success {
  /* Add styles as needed */
  margin-top: 0;
  border: none;
  box-shadow: none;
  background-color: #f8f8f8;
}

.alert-body {
}

.payment-details {
  /* border: 1px solid #ddd; */
  padding: 10px;
  margin: 10px;
  background-color: #f8f8f8;
  border-radius: 4px;
  margin-top: 3.5rem;
}

.conf-details {
  font-size: large;
  margin-bottom: 1rem;
}

.pymt-id {
  font-weight: bold;
}

.record-message {
  margin-top: 20px;
  color: #3498db;
  text-align: center;
}

.no-activity {
  color: #e74c3c;
}

.admin-link {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
  text-align: center;
}
