.userinfo-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  width: 31rem;
  background-color: whitesmoke;
  align-self: baseline;
  margin-top: 2rem;
  .login-input {
    background-color: white;
  }
  .account-info-header {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
  }
  .continue-guest {
    margin-bottom: 1rem;
  }
  .user-active {
    display: none;
  }
  .checkout-singIn {
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 0.5px;
    cursor: pointer;
  }
  .user-name-email {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .registered-error-msg {
    color: #f57575;
    margin-top: 1rem;
  }
  .guest-button {
    width: 9rem;
    height: 2rem;
    border: none;
    border-radius: 0.3rem;
    background-color: rgb(233, 100, 121);
    color: white;
    cursor: pointer;
    margin: 1rem 0rem;
    &:hover {
      transform: scale(0.96);
    }
  }
  .ch-userinfo-list ul {
    list-style: none;
  }
}
.us-chk-navigate {
  margin-bottom: 10px;
  margin-left: 10px;
  .go-back-link {
    margin-top: 1rem;
    padding: 8px;
    width: 6.5rem;
    height: 2rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #fff;
    border: 1px solid #ff5757;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #ff5757;
    cursor: pointer;
    &:hover {
      transform: scale(0.96);
      background-color: #ff5757;
      color: #fff;
    }
  }
}

.usrmodal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.usrmodal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.usrclose-button {
  font-size: 18px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

@media (max-width: 550px) {
  .userinfo-card {
    width: 85%;
  }
}
