.parking-spot-details-page {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  height: 1600px;
}

.details-container {
  flex: 1;
  padding-right: 50px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ff5757;
  text-align: left;
}
.title {
  text-align: center;
}
.title {
  text-align: center;
}

.ps-mapview {
  flex: 1;
  position: relative;
  margin-left: 50px;
  margin-top: 15px;
}

.details {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.detail-label {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.detail-value {
  color: #555;
  font-size: 18px;
}

button.book-now-button {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  transition: background-color 0.3s;
}

button.book-now-button:hover {
  background-color: #ff5757;
}

a.go-back-link {
  display: block;
  text-align: left;
  margin-top: 20px;
  text-decoration: none;
  color: #0077cc;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

a.go-back-link:hover {
  text-decoration: underline;
  color: #ff5757;
}

.go-back-icon {
  margin-right: 5px;
}
