.parking-spot-details-page {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.details {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.detail-label {
  font-weight: bold;
  color: #333;
}

.detail-value {
  color: #777;
}

button.book-now-button {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

button.book-now-button:hover {
  background-color: #0055aa;
}

a.go-back-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #0077cc;
  font-weight: bold;
}

a.go-back-link:hover {
  text-decoration: underline;
}
