.payment-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .payment-form {
    width: 70%;
    margin: 2rem auto;
    .input-block {
      margin-top: 0;
      margin-bottom: 1.5rem;
    }
    .credit-info {
      display: grid;
      grid-template-columns: 0.2fr 4fr;
      .creditCardIcon {
        font-size: 17px;
        margin-left: 6px;
      }
    }
    .month-year-error {
      display: flex;
      gap: 1rem;
    }

    .login-input {
      background-color: white;
    }
    .billing-header {
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .card-select-month-year {
      display: flex;
      gap: 2rem;
      padding: 7px;
    }
    .select-block {
      border: 1.5px solid #ddd;
      border-radius: 0.2rem;
    }
    .error-payment-msg {
      color: #f57575;
      margin-bottom: 1rem;
    }
  }
  .purchase-details {
    width: 70%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 1rem;
    .firstPayment,
    .secondPayment {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: 1px solid lightgray;
      border-radius: 8px;
      padding: 20px;
      .subTotal,
      .serviceFee,
      .total {
        display: flex;
        justify-content: space-between;
      }
      .serviceFee {
        border-bottom: 1px solid lightgray;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
  .payment-button {
    margin-top: 2rem;
    padding: 8px;
    font-size: medium;
    text-align: center;
    width: 100%;
    height: 2.7rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #f57575;
    color: white;
    cursor: pointer;
    &:hover {
      transform: scale(0.96);
    }
  }
}

p.pymt-details-summary {
  font-size: 1.4rem;
}
@media (max-width: 768px) {
  .payment-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    .purchase-details {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }

  .billing-header {
    font-weight: bold;
    font-size: 1.4rem;
  }

  .payment-container input {
    font-size: 1.1rem;
  }

  .payment-container button {
    font-size: 16px;
  }
  p.pymt-details-summary {
    font-size: 1.3rem;
  }
}
