.renter-container {
  min-height: 80rem;
}
.property-container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  margin: 2rem;
  gap: 1rem;
}

.renterM-header {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  background-color: #ffa7a7;
  margin-bottom: 1rem;
}
.renterM-header-title {
  letter-spacing: 1.5px;
}
.renter-props {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  height: 100%;
}
.renter-prop-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.renter-prop-icon {
  color: hsl(0, 100%, 67%);
}
.renter-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 2rem;

  .renter-title {
    font-size: x-large;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .renter-description {
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-size: medium;
  }
}
.renter-prop-button {
  margin-top: 1rem;
  width: 7rem;
  height: 2rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #f57575;
  color: white;
  cursor: pointer;
  margin: 1rem 0rem;
  align-self: flex-end;
  &:hover {
    transform: scale(0.96);
  }
}

.renter-prop {
  width: 85%;
  height: 37rem;
  overflow-y: scroll;
  background-color: hsl(0, 0%, 95%);
  border-radius: 0.5rem;
  border: 1px solid hsl(0, 0%, 95%);
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .property-img {
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
  }
  .renter-prop-header {
    color: black;
  }
  .renter-prop-info {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: white;
    justify-content: center;

    .renter-prop-info-container {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .renter-prop-info-address {
        font-weight: bold;
      }
    }
    .renter-prop-info1 {
      padding: 1rem;
      display: flex;
      flex-direction: row;
      gap: 2rem;
      width: 100%;
    }

    .renter-prop-info2 {
      opacity: 0;
      transform: translateY(-100%);
      transition: opacity 0.3s ease, transform 0.2s ease;
    }
    .renter-prop-info2-active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.renter-dashboard {
  display: flex;
  flex-direction: column;
}
.centered-nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffa7a7;
  padding: 10px;
}

.centered-nav div {
  display: flex;
  gap: 1rem;
}

.ctr-nav-r-links {
  height: 10px;
  margin-top: 1rem;
  margin-left: 1rem;
}
.ctr-nav-r-links a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.renter-dashboard .cl-h-svgleft {
  margin: 0 auto;
}

.ctr-nav-r-links .cl-h-svgleft svg {
  color: rgb(143, 142, 143);
}

.earnings-total-container a {
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  color: white;
}

.earnings-total-container a span {
  color: green;
  text-decoration: none;
  margin: 0;
  border-radius: 5px;
}

.renter-landing-divert {
  text-align: center;
}
@media (max-width: 839px) {
  .property-container {
    flex-direction: column;
    margin: 0;
  }
  .property-space {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    margin: 0;
  }
  .renter-prop {
    margin: 0 auto;
    width: 95%;
  }
  .renter-property {
    width: 95%;
  }
}
@media (max-width: 635px) {
  .property-space {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .property-space-form:last-child {
    margin-bottom: 0;
  }

  .renter-prop .renter-prop-info .renter-prop-info1 {
    padding: 0.5rem;
  }
}
@media (max-width: 585px) {
  .renter-prop {
    padding: 8px;
  }
  .renter-prop .property-img {
    width: 14rem;
    height: 14rem;
  }
  .renter-prop .renter-prop-info .renter-prop-info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .renter-prop-button {
    align-self: center;
  }
}
