.renter-container {
  min-height: 80rem;
}

.r-manage-container header {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  background-color: #ffa7a7;
  margin-bottom: 1rem;
}

.renterM-header {
  letter-spacing: 1.5px;
}
.renter-prop {
  width: 85%;
  margin: 3rem auto;
  background-color: rgb(249, 249, 255);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .renter-prop-header {
    text-align: center;
    margin-bottom: 2rem;
    color: black;
  }
  .renter-prop-info {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 2rem;

    .renter-prop-info1 {
      & p {
        margin-bottom: 10px;
      }
      .renter-prop-button {
        margin-top: 1rem;
        width: 7rem;
        height: 2rem;
        border: none;
        border-radius: 0.3rem;
        background-color: #f57575;
        color: white;
        cursor: pointer;
        margin: 1rem 0rem;
        &:hover {
          transform: scale(0.96);
        }
      }
    }
    .renter-prop-info2 {
      opacity: 0;
      transform: translateY(-100%);
      transition:
        opacity 0.3s ease,
        transform 0.2s ease;
    }
    .renter-prop-info2-active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.centered-nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffa7a7;
  padding: 10px;
}

.centered-nav div {
  display: flex;
}

.ctr-nav-r-links a {
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  color: white;
}

.ctr-nav-r-links .cl-h-svgleft svg {
  color: purple;
}

.earnings-total-container a {
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  color: white;
}

.earnings-total-container a span {
  color: green;
  text-decoration: none;
  margin: 0;
  border-radius: 5px;
}

.renter-landing-divert {
  text-align: center;
}

@media (max-width: 700px) {
  .renter-prop .renter-prop-header {
    margin-bottom: 1rem;
  }
  .renter-prop {
    margin-top: 2rem;
    margin-bottom: 0;
    width: 100%;
    overflow-x: auto;
    padding: 15px 5px;
  }
}
