footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  background-color: #ff5757;
  padding: 3rem;
}

p {
  font-size: 15px;
}
h5,
h4 {
  margin-bottom: 1rem;
}

.app-slogan,
.socials,
.contacts,
.footer-details {
  justify-self: center;
}

@media (max-width: 1070px) {
  .footer-details {
    display: flex;
    flex-basis: 100%;
    gap: 1rem;
    padding-top: 2rem;
  }

  .footer-details h5 {
    flex: 1;
  }
}

.social-icons {
  display: flex;
  gap: 1rem;
}
.icon {
  font-size: 1.8rem;
  border-radius: 50%;
  border: 2px solid white;
  padding: 0.3rem;
}
