.search-res-mapview {
  height: calc(100vh - 63px);
  flex: 1;
}

.search-reslist {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100rem;
}

.spot-info p {
  margin-top: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 1rem;
}

.table th,
.table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .search-reslist {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  }
}

@media (max-width: 500px) {
  .search-reslist {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

@media (max-width: 768px) {
  .search-reslist {
    grid-template-columns: 2fr;
  }
}

.spot-info {
  background: rgba(255, 244, 244, 0.9);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: left;
  margin: 5px;
}

.cost-info div,
.span-info {
  display: flex;
  align-items: center;
}

.cost-info h4 {
  font-weight: 500;
  color: #003700;
  margin-right: 0.5rem;
}

.cost-info p {
  color: #333;
}

.s-res-header-text {
  font-size: x-large;
  margin: 0;
  text-align: center;
  margin-bottom: 2rem;
  color: #004080;
}

.search-main {
  margin-top: 1rem;
  margin-left: 0.5rem;
  min-width: max-content;
}

@media (max-width: 500px) {
  .search-main {
    margin: 1rem;
  }
}

.spot-info .show-me-button {
  background-color: #0591f5;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.spot-info .show-me-button:hover {
  background-color: rgb(5, 29, 242);
}

.sort-button-container {
  text-align: left;
  margin-bottom: 1rem;
  display: block;
}

.sort-dropdown {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

.sort-dropdown:hover {
  border-color: #0077cc;
  background-color: #f5f5f5;
}

.sort-dropdown:focus {
  outline: none;
  border-color: #0077cc;
  background-color: #f5f5f5;
}

.sort-dropdown option {
  background-color: #fff;
  color: #333;
}

.sort-dropdown.low {
  border-color: #4caf50;
}

.sort-dropdown.high {
  border-color: #e74c3c;
}

.location-info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.location-info i {
  margin-right: 0.5rem;
  font-size: 1.4rem;
  color: #0077cc;
}

.location-info p {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  position: relative;
}

.checkout-button,
.show-me-button {
  background-color: #03750b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.checkout-button:hover,
.show-me-button:hover {
  background-color: #aa0000;
}

.destination-container {
  display: flex;
  align-items: center;
  max-width: 300px;
  background-color: #2c3e50;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.destination-icon {
  font-size: 2rem;
  color: rgb(219, 83, 52);
}

.destination-info {
  margin-left: 10px;
  flex-grow: 1;
}

.destination-title {
  margin: 0;
  font-size: 1.2rem;
  color: #ecf0f1;
}

.destination-address {
  margin: 0;
  font-size: 1rem;
  color: #ecf0f1;
}

.search-and-map-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.search-and-map-container {
  display: flex;
  height: 100%;
  width: 100%;
}

@media (max-width: 500px) {
  .search-main {
    margin: 0.5rem;
  }
  .search-reslist {
    gap: 1rem;
  }
  .search-and-map-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 700px) {
  .search-res-mapview {
    display: none;
  }
}
