.search-reslist {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}
.spot-info p {
  margin-top: 1rem;
}
.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 1rem;
}

.table th,
.table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .search-reslist {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  }
}

@media (max-width: 500px) {
  .search-reslist {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.spot-info {
  background: rgb(255, 244, 244);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: left;
  opacity: 70%;
}

.cost-info div,
.span-info {
  display: flex;
  align-items: center;
}

.cost-info h4 {
  font-weight: 400;
  color: rgb(0, 55, 2);
  margin-right: 0.5rem;
}

.cost-info p {
  color: rgb(0, 0, 0);
}

.s-res-header-text {
  font-size: larger;
  margin: 0;
  text-align: center;
  margin-bottom: 2rem;
}

.search-main {
  margin: 2rem;
}

@media (max-width: 500px) {
  .search-main {
    margin: 1rem;
  }
}

.spot-info .show-me-button {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.spot-info .show-me-button:hover {
  background-color: #0055aa;
}
