.landing .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.app-description > .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image info";
  gap: 2rem;
}

.app-description:nth-child(odd) {
  background: #e8e8e8;
}

.app-description:nth-child(odd) > .container {
  grid-template-areas: "info image";
}

.landing-intro {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1rem;
}

.landing-intro h2 {
  padding-bottom: 1rem;
  width: 100%;
}

.pic-text {
  align-self: center;
}

.pic-text p {
  margin-bottom: 3rem;
}

.pic-text h2 {
  margin-bottom: 2rem;
}

.app-description h2,
.landing-intro h2 {
  font-size: 25px;
  color: #333;
}

.app-description p {
  font-size: 16px;
  color: #555;
}

.about-us-links {
  display: flex;
  justify-content: center;
}

.about-us-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

.about-us-links a:hover {
  text-decoration: underline;
}

/* .become-renter,
.reserve-now {
  padding: 8px;
  font-size: larger;
  text-align: center;

  border: none;
  border-radius: 0.3rem;
  background-color: #ff5757;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  animation: fade linear;
  animation-fill-mode: forwards;
  animation-timeline: view();
  cursor: pointer;
  &:hover {
    transform: scale(0.96);
  }
} */

.become-renter,
.reserve-now {
  /* display: block; */
  text-decoration: none;
  margin: 2rem auto 0;
  width: 6.3rem;
  height: 3.5rem;
  background: #ff5757;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.48);
  transition: transform 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.become-renter:hover,
.reserve-now:hover {
  transform: translateY(-5px);
  background: white;
  color: #ff5757;
}

.marketing-image1,
.marketing-image2 {
  grid-area: image;
  border-radius: 2%;
  width: 100%;
  margin: 0 auto;
}

.pic-text {
  animation: fade linear forwards;
  animation-timeline: view();
  grid-area: info;
}

.landing-content-description {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.landing-content-description-main-header {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.landing-content-description-main-text {
  text-align: left;
  font-size: 1.6rem;
}

.landing-body section:first-child img {
  margin: auto;
  width: 60%;
}

@media (max-width: 768px) {
  .app-description > .container,
  .app-description:nth-child(odd) > .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "info";
    text-align: center;
  }

  .landing-body section:first-child img {
    width: 60%;
  }

  .landing-intro {
    margin: 0 auto;
    padding: 30px;
  }
}
