* {
  box-sizing: border-box;
}

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main-image-container {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* placeholder */
  /* position: relative;
  align-items: center;
  justify-content: center;
  max-height: 550px;
  overflow: hidden; */
}

.hero {
  background: url("https://images.unsplash.com/photo-1506521781263-d8422e82f27a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 50px 0;
  position: relative;
}
.hero::before {
  background: transparent;
  background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.hero__content {
  padding: 0 1rem;
  position: relative;
  margin: 0 auto;
  max-width: 768px;
  width: 100%;
}
.hero__content h1 {
  color: #fff;
  margin: 0;
}
.hero__content h1 {
  font-size: 3rem;
  line-height: 1.15;
  max-width: 550px;
}

@media only screen and (max-width: 768px) {
  .hero__content {
    max-width: 100%;
    padding: 0 2rem;
  }
  .hero__content h1 {
    font-size: 2.75rem;
    max-width: 500px;
  }
  .hero__content h2 {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
@media only screen and (max-width: 480px) {
  .hero::before {
    background: transparent;
    background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 125%);
  }
  .hero__content h1 {
    font-size: 2.25rem;
    max-width: none;
  }

  .hero__form {
    flex-direction: column;
    gap: 1rem;
  }
}

/* .main-image {
  width: 100%;
  opacity: 1;
  margin-top: 0%;
} */

/* .overlay {
  background-color: rgba(255, 87, 87, 0.5);
  position: absolute;
  padding: 2rem;
  border-radius: 1rem;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(130, 0, 0, 0.82);
} */

.searchform {
  text-shadow: none;
}

/* .date-picker {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.date-picker button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
} */

/* .fw-bold {
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
} */

/* spinner and suspense */

.capsule {
  display: inline-block;
  padding: 0 24px;
  text-align: center;
  line-height: 3rem;
  border-radius: 3rem;
}

.capsule .fail {
  color: #ff6961;
  border: 2px solid #ff6961;
  font-weight: 500;
}

/* @media (max-width: 600px) {
  .overlay .fw-bold {
    font-size: 1.5rem;
  }
} */

@media (max-width: 768px) {
  .main-image-container {
    overflow: visible;
  }

  /* .overlay {
    background-color: #555;
    transform: none;
    width: 100%;
    border-radius: 0;
    position: static;
    text-shadow: none;
  } */

  /* .main-image {
    display: none;
  } */
}

@media (min-width: 769px) {
  /* .overlay {
    min-width: 600px;
  } */
}
