.main-image-container {
  position: relative;
  align-items: center;
  justify-content: center;
  max-height: 550px;
  overflow: hidden;
}

.main-image {
  width: 100%;
  opacity: 1;
  margin-top: 0%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  padding: 2rem;
  border-radius: 1rem;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(130, 0, 0, 0.82);
}

.searchform {
  text-shadow: none;
}

.date-picker {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.date-picker button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

.fw-bold {
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
}

/* spinner and suspense */

.capsule {
  display: inline-block;
  padding: 0 24px;
  text-align: center;
  line-height: 3rem;
  border-radius: 3rem;
}

.capsule .fail {
  color: #ff6961;
  border: 2px solid #ff6961;
  font-weight: 500;
}
