.main-image-container {
  position: relative;
  align-items: center;
  justify-content: center;
  max-height: 550px;
  overflow: hidden;
}

.main-image {
  width: 100%;

  opacity: 1;
  margin-top: 0%;
}

.overlay {
  background-color: rgba(255, 87, 87, 0.5);
  position: absolute;
  padding: 2rem;
  border-radius: 1rem;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(130, 0, 0, 0.82);
}

@media (min-width: 769px) {
  .overlay {
    min-width: 500px;
  }
}

@media (max-width: 768px) {
  .overlay {
    top: 0px;
    left: 0px;
    transform: none;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}

.searchbar {
  width: 60%;
  padding: 18px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.check-in {
  padding: 18px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.check-out {
  padding: 18px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.date-picker {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  font-size: 1rem;
  padding: 6px 12px;
  margin-bottom: 10px;
  border-radius: 0%;
}

.search-button {
  padding: 12px 24px;
  background-color: #ff3131;
  color: #ffffff;
}

.overlay .fw-bold {
  font-weight: bold;
  font-size: xxx-large;
  color: #ffffff;
}

@media (max-width: 600px) {
  .overlay .fw-bold {
    font-size: 1.8rem;
  }
}

.search-bar .button {
  background-color: #ff3131;
}