.address-form-container {
    width: 100%;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.address-form-signup-address {
    grid-area: span 1;
    justify-self: center;
}
.address-form-formatted {
    grid-area: span 1;
    justify-self: center;
}

.address-form-confirm {
    justify-self: center
}
.address-form-input {
    grid-area: span 1;
    justify-self: center;
}
.address-form-input-box {
        box-sizing: border-box;
        border: 1px solid transparent;
        width: 434px;
        height: 32px;
        padding: 0 12px;
        border-radius: 3px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        font-size: 14px;
        outline: none;
        text-overflow: ellipses;
}
.address-form-submit {
    justify-self: center;
    display: block;
    margin: 2rem auto 0;
    margin-bottom: 2rem;
    width: 10rem;
    height: 2.5rem;
    background: #ff5757;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    border: 0;
    border-radius: 0.3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.48);
    transition: transform 0.3s;
    cursor: pointer;
    grid-area: span 1;
    
}

  .address-form-submit:hover {
    transform: translateY(-5px);
    background: white;
    color: #ff5757;
  }
.address-form-header {
    padding: 2rem;
    justify-self: center;
    grid-area: span 1;
    font-size:30px;
}

@media all and (max-width: 434px) {
    .address-form-header {
        font-size: 18px;
    }
    .address-form-input-box {
        width: 300px;
    }

}