.sb-title {
  position: relative;
  top: -12px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.sb-title-icon {
  position: relative;
  top: -5px;
}

.card-container {
  display: flex;
  height: 500px;
  width: 600px;
}

.panel {
  background: white;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.half-input-container {
  display: flex;
  justify-content: space-between;
}

.half-input {
  max-width: 120px;
}

h2 {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: white;
  text-shadow: 2px 2px 4px rgba(130, 0, 0, 0.82);
  margin-bottom: 5px;
}

.start-label,
.end-label {
  margin-right: 5px;
  color: white;
  text-shadow: 2px 2px 4px rgba(130, 0, 0, 0.82);
}

.g-search {
  height: 2.5rem;
  width: 70%;
  border: 0;
  border-bottom: 1px solid black;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  border-radius: 0.4rem;
}
.g-search::placeholder {
  text-align: center;
  color: rgb(191, 193, 193);
  opacity: 70%;
}

.start-container {
  display: flex;
}

.end-container {
  display: flex;
}

.submit-button {
  margin-bottom: 1rem;
  width: 6rem;
  height: 2.5rem;
  background: #ff3131;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.48);
  cursor: pointer;
  &:hover {
    transform: scale(0.96);
  }
}

.date-button {
  margin-right: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.date-time-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.TimePickerComponent select {
  width: 150px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  margin-left: 10px;
}
