.sb-title {
  position: relative;
  top: -12px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.sb-title-icon {
  position: relative;
  top: -5px;
}

.card-container {
  display: flex;
  height: 500px;
  width: 600px;
}

.panel {
  background: white;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.half-input-container {
  display: flex;
  justify-content: space-between;
}

.half-input {
  max-width: 120px;
}

h2 {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.g-search {
  height: 2.5rem;
  width: 70%;
  border: 0;
  border-bottom: 1px solid black;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  border-radius: 0.4rem;
}
.g-search::placeholder {
  text-align: center;
  color: rgb(191, 193, 193);
  opacity: 70%;
}

.button-cta {
  margin-bottom: 1rem;
  width: 6rem;
  height: 2.5rem;
  background: #3367d6;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.48);
  cursor: pointer;
  &:hover {
    transform: scale(0.96);
  }
}
