@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=PT+Sans&family=Public+Sans:wght@200&family=Sora&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.s-loading-container {
  min-height: 100vh;
}

.missing-container,
.unauthorized-container {
  min-height: 100vh;
  text-align: center;
}

.unauthorized-container .flexGrow {
  margin: 0 auto;
  margin-top: 2rem;
}
